

body {
   background-color: black;
   text-align: center;

}

header {
   background-color: rgb(6, 86, 171);
   border-bottom: 3px solid black;
   margin-bottom: 10px;
   text-align: center;
}

footer {
   background-color: rgb(6,86,171);
   border-top: 3px solid black;
   border-radius: 5px;
   text-align: center;
   padding: 10px;
}

article {
   background-color: black;
   margin: 0 auto 20px;
   border: 2px solid black;
   padding: 30px;
   width: 70%;
   border-radius: 10px;
}

/*Combinator*/
article h2 {
   text-transform: uppercase;
   color: aliceblue;
}

p{
   text-transform:inherit;
   color: aliceblue;
   padding: 10px;
}

h1{color: aliceblue;

}


.nav-bar,
.nav-link {
   display: inline;

}

#brand-title {
   margin-right: 20px;
}

a {
   color: aliceblue;
   padding: 5px;
   text-decoration: none;
}

a:hover {
   color: darkblue;
}

main {
   text-align: center;
}

form {

   width: 50%;
   margin-left: 25%;
   border-radius: 20 px;
   padding: 20 px;

}


.form-label {
   margin-top: 10px;
   margin-bottom: 5px;

}

input,
textarea {
   padding: 5px;
   border-radius: 10px;
}

#profile-picture {
   border-radius: 20%;
   border: 2px solid aliceblue;
   max-width: 40%;
   margin: 20px;

}

#Grace_walk {
   border-radius: 20%;
   border: 2px solid aliceblue;
   max-width: 60%;
   margin: 20px;




}

/*Pseudo classes*/
footer p:nth-child(1) {
   color: aliceblue;
}

footer p:nth-last-child(2) {
   color: aliceblue;
}

/* This is the pseudo element, but I don't want to use this right now. Thanks! It works though, please test if you'd like.
p::first-line {
color: aliceblue;
font-variant: small-caps;
} */